.a1 {
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    align-items: center;
}

.a2{
    transform: translate(0, 25%);
    color: aliceblue;
    margin-left: 20px;
}

.a3{
  height: 100vh;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
  }
  
  .nav-logo img {
    height: 50px; /* หรือขนาดใดๆ ที่คุณต้องการ */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    font-size: 25px;
  }
  

.btn41-43 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}